<hr>
<footer class="footer">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home </a></li>
                    <li><a href="{% url 'menu:menu_list' %}">Menu</a></li>
                    <li><a href="{% url 'menu:cat_list' %}">Categories</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://127.0.0.1:8000/"> restaurant.com</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>