{% extends 'index/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Restaurant Website!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget aliquet metus, at dignissim elit. Nunc et sem sapien. Suspendisse pharetra porttitor dui et hendrerit. Phasellus malesuada, augue ut vulputate fringilla, felis risus gravida nulla, id consectetur est mauris id purus. Nulla facilisi.</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'menu:menu_list' %}" role="button">Our Menu</a>
  <a class="btn btn-default btn-lg" href="{% url 'contact_us' %}" role="button">Contact US</a></p>
</div>

<div class="container">
    <h2>Featured Items</h2>
    <hr>
{% for q in queryset %}
<div class="col-sm-5 col-md-3">
    <div class="thumbnail">
    {% if q.img %}
      <img src="{{ q.img.url }}" alt="..." style="width:232px;height:192px;">
      {% endif %}
      <div class="caption">
        <h5><b>{{ q.item }}</b></h5>
        <p>Price: {{ q.price }}$</p>
        <p><a href="{{ q.get_absolute_url }}" class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
  </div>
{% endfor %}
<div>
<a href="{% url 'menu:menu_list' %}">View All Items ---></a>
</div>
</div>
{% endblock content %}