{% extends 'index/base.html' %}
{% block title %} {{ categories.cat_name }} | {{ block.super }}{% endblock title %}
{% block content %}

{% include "menu/search.html" %}
<h1>{{ categories.cat_name }}</h1>
<hr>
<div class="row">
{% for q in query_l %}
<div class="col-sm-5 col-md-3">
    <div class="thumbnail">
    {% if q.img %}
      <img src="{{ q.img.url }}" alt="..." style="width:232px;height:192px;">
      {% endif %}
      <div class="caption">
        <h5><b>{{ q.item }}</b></h5>
        <p>Price: {{ q.price }}$</p>
        <p><a href="{{ q.get_absolute_url }}" class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<br>
{% include "menu/paginator.html" %}
{% endblock content %}