{% extends 'index/base.html' %}
{% block title %} Categories | {{ block.super }}{% endblock title %}
{% block content %}

{% include "menu/search.html" %}

<h2>Categories</h2>

<div class="row">
{% for q in query_l %}
<div class="col-sm-5 col-md-3">
    <div class="thumbnail">
    {% if q.cat_img %}
      <img src="{{ q.cat_img.url }}" alt="...">
      {% endif %}
      <div class="caption">
        <h3>{{ q.cat_name }}</h3>
        <p><a href="{{ q.get_absolute_url }}" class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>








<br>
{% include "menu/paginator.html" %}

{% endblock content %}