
{% extends "index/base.html" %}

{% block content %}

{% include "menu/search.html" %}

{% if request.GET.q %}

<p>showing search results for "{{ request.GET.q }}"</p><br>

{% endif %}

<h2>Menu Items</h2>
<div class="row">

{% for q in query_l %}

<div class="col-sm-6">
  <div class="col-sm-5 ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>{{ q.item }}</h3>
        <p>Price: {{ q.price }}$</p>
        <p><a href="{{ q.get_absolute_url }}" class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
<br>
{% include "menu/paginator.html" %}

<h2>Categories</h2>

{% for q in category %}

<a href="{{ q.get_absolute_url }}">{{ q.cat_name }}</a><br>
{% endfor %}

{% endblock content %}